/node_modules
/public/hot
/public/assets
/public/storage
/storage/*.key
/vendor
public/mix-manifest.json
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.bak
*.sql
*.tar.xz
storage/*.index
storage/*.index-shm
storage/*.index-wal
storage/*.index-journal
composer.lock
package-lock.json
.**/.DS_Store
